# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tests for pull requests and pushes on master

on:
  push:
    branches: [ master, develop/master ]
  pull_request:
    branches: [ master, develop/master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
        allennlp-version: ["1.0.0", "2.0.0"]
        exclude:
          - python-version: 3.9
            allennlp-version: "1.0.0"
    env:
      TOXENV: allennlp${{ matrix.allennlp-version }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Cache pip
      id: cache
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip # This path is specific to Ubuntu
        # Look to see if there is a cache hit for the corresponding requirements file
        key: ${{ runner.os }}-${{ matrix.allennlp-version }}-pip-${{ hashFiles('setup.py') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.allennlp-version }}-pip-
          ${{ runner.os }}-
    - name: Install Tox and any other packages
      run: pip install tox
    - name: Run test using Tox for allennlp==${{ matrix.allennlp-version }}
      shell: bash
      env:
        WANDB_API_KEY : ${{secrets.WANDB_API_KEY}}
      run: tox
        #run: tox -e py
